/JAVA-Back-End/JavaApplication20/nbproject/private/
/JAVA-Back-End/JavaApplication20/build/
/JAVA-Back-End/Clase30/nbproject/private/
/JAVA-Back-End/Clase30/build/
/JAVA-Back-End/Clase03062024/nbproject/private/
/JAVA-Back-End/Clase03062024/build/
/JAVA-Back-End/Clase06060624/nbproject/private/
/JAVA-Back-End/Clase06060624/build/
/JAVA-Back-End/Clase13062024/nbproject/private/
/JAVA-Back-End/Clase13062024/build/
/JAVA-Back-End/prueba24116/nbproject/private/
/JAVA-Back-End/prueba24116/build/
/JAVA-Back-End/prueba241116/target/
/JAVA-Back-End/estructuras/target/
